<h1>About</h1> 
<div class="w3-container">

<div class="w3-container w3-half">
<img src="./img/intro_pic1.jpg">
</div>
 <h2>ME :)</h2>
            <div class="icon-size">
        <i class="fas fa-heart" style="color: deeppink;"></i>
        <i class="fas fa-hiking" style="color: blueviolet;"></i>
        <i class="fas fa-mountain" style="color: blue;"></i>
        <i class="fas fa-tree" style="color: darkgreen;"></i>
        <i class="fas fa-paint-brush" style="color: crimson;"></i>
        <i class="fas fa-palette" style="color: darkblue;"></i>
        <i class="fas fa-cat" style="color:orange;"></i>
        <i class="fas fa-laptop-code" style="color: black;"></i>
        <i class="fas fa-star-and-crescent" style="color:teal"></i>
        <i class="fas fa-peace" style="color:mediumslateblue;"></i>
        <i class="fas fa-camera-retro" style="color: yellowgreen;"></i>
        <i class="fas fa-hamburger" style="color: brown;"></i>
        <i class="fas fa-utensils"></i>
        <i class="fas fa-ice-cream" style="color: pink;"></i>
        <i class="fas fa-smile" style="color: gold"></i>
        </div>

    
    <p>Hello,
My name is Sabrina Nur. I am a Charlotte, NC based artist, web designer and developer.
A little about me is that I am a pretty creative person and somehow 
always making something!! wether it be cooking new foods to
working on art projects(my favorite medium as of late is resin) and 
basically d.i.y-ing anything and everything!! 
My hobbies include designing, skateboarding, cooking,
writing my heart out, hiking and overall appreciating nature and art.

 My Information technology background includes being proficent in HTML, CSS, JavaScript, 
 and a multitude of other computer languages and web technologies.
I am currently pursuing my Associates in Information Technology at Central Piedmont
Community College and will be graduating this spring, May 2020. So
if you are in need of a website, fret less and contact me.
Or if you would like to collaborate, or learn more about me and my experiences,
or just need someone to hangout with or talk to!! Do not hesitate to <a href="contact">contact me!!</a></p>
<p>Thanks for reading! Looking forward to hearing from you :)</p>
  </div>
