<h1>Journal App </h1>

<p class="lead" style="color: deeppink;">Register or login to use your journal app :)</p>

<div>
    <p>a create, update, edit, and delete app that holds users journal enteries</p>
    <p>if you don't wanna make an account use these credentials :P
    <br>
    email: test@email.com
    <br>
    password:test12345
    </p>


            
           



          <a href="/users/login" class="btn btn-default">Login</a>
           <a href="/users/register" class="btn btn-primary">Register</a>

          </div>



    