<style>
 
</style>
  <h3>Add Journal</h3>
  <form action="/journals/add" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="entry">Entry</label>
      <textarea class="form-control" name="entry" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
      Add
    </button>
  </form>

