
<nav>
 <ul>
   <li>&hearts;&ThickSpace;<a  href="/">home</a></li>&ThickSpace;&#9825;&ThickSpace;
   <li><a  href="about">about</a></li> &ThickSpace;&hearts;&ThickSpace;
   <li><a href = '/crud'> works </a></li> &ThickSpace;&#9825;&ThickSpace;
   <li><a href="contact">contact</a>&hearts;</li>
 </ul>
</nav>
